<button [routerLink]="'/registro'" class="ui button green"> Registrar Empleado +</button>
<form [formGroup]="employeTable" class="ui segment">
<table class="ui celled table small compact">
  <thead>
    <tr>
      <th>
        <div>
          Primer Nombre
        </div> 
        <div class="ui mini icon input">
          <input type="text" formControlName="primerNombre">
          <i class="filter icon"></i>
        </div>
      </th>
      <th>
        Otros Nombres
        <div class="ui mini icon input">
          <input type="text" formControlName="otrosNombres">
          <i class="filter icon"></i>
        </div>
      </th>
      <th>
        Primer Apellido
        <div class="ui mini icon input">
          <input type="text" formControlName="primerApellido" >
          <i class="filter icon"></i>
        </div>
      </th>
      <th>
        Segundo Apellido
        <div class="ui mini icon input">
          <input type="text" formControlName="segundoApellido">
          <i class="filter icon"></i>
        </div>
      </th>
      <th>
        Tipo identificacion
        <div class="ui mini icon input">
          <input type="text" formControlName="tipoIdentificacion">
          <i class="filter icon"></i>
        </div>
      </th>
      <th>
        Numero Identificacion
        <div class="ui mini icon input">
          <input type="text" formControlName="numeroIdentificacion">
          <i class="filter icon"></i>
        </div>
      </th>
      <th>
        Pais
        <div class="ui mini icon input">
          <input type="text" formControlName="paisEmpleo">
          <i class="filter icon"></i>
        </div>
      </th>
      <th>
        Estado
        <div class="ui mini icon input">
          <input type="text" formControlName="estado">
          <i class="filter icon"></i>
        </div>
      </th>
      <th>Editar/Borrar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
    </tr>
    <tr *ngFor="let empleado of empleadosList | paginate
    : {
        id: 'listing_pagination',
        itemsPerPage: 10,
        currentPage: page,
        totalItems: total
      } ;index as i">
      <td>{{empleado.primerNombre}}</td>
      <td>{{empleado.otrosNombres}}</td>
      <td>{{empleado.primerApellido}}</td>
      <td>{{empleado.segundoApellido}}</td>
      <td>{{empleado.tipoIdentificacion}}</td>
      <td>{{empleado.numeroIdentificacion}}</td>
      <td>{{empleado.paisEmpleo}}</td>
      <td>{{empleado.estado}}</td>
      <td><div class="ui small basic icon buttons">
        <button class="ui button small " (click)='empleadoEditar(empleado.id)'><i class="edit icon small "></i></button>
        <button (click)="borrarEmpleado(i)" class="ui button"><i class="delete icon red"></i></button>
      </div></td>
    </tr>
  </tbody>
  <pagination-controls class='pagination ngx-pagination' id="listing_pagination" maxSize="5" directionLinks="true"
  (pageChange)="pageChanged($event)" ></pagination-controls>

</table>
</form>


