<button [routerLink]="'/consultar'" class="ui button green"> Consultar Empleados</button>
<div class="ui segment">
    <div class="ui top attached label">Registro de Empleado </div>
    
    <form class="ui form" [formGroup]="reactiveForm">
        <h4 class="ui dividing header">Informacion Personal </h4>
        <div class="field">
          <label>Nombres</label>
          <div class="two fields">
            <div class="field">
              <input type="text" 
                     placeholder="Primer Apellido" 
                     formControlName="primerApellido" 
                     >
            </div>
            <div class="field">
              <input type="text" placeholder="Segundo Apellido" formControlName="segundoApellido">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <input type="text" placeholder="Primer Nombre" formControlName="primerNombre">
            </div>
            <div class="field">
              <input type="text" placeholder="Otros Nombres" formControlName="otrosNombres">
            </div>
          </div>
        </div>
        <div class="fields">
            <div class="field">
                <label>Tipo de Documento</label>
                <select class="ui fluid dropdown" formControlName="tipoIdentificacion">
                    <option [ngValue]="null">Seleccione...</option>
                    <option value="CC">CC</option>
                    <option value="CE">CE</option>
                    <option value="PE">PE</option>
                    <option value="PA">PA</option>
                </select>
            </div>
            <div class="field">
                <label>Identificacion</label>
                <input type="text" placeholder="Numero Documento" formControlName="numeroIdentificacion">
            </div>
        </div>
        <h4 class="ui dividing header">Informacion Laboral</h4>
        <div class="three fields">
            <div class="field">
                <label>Fecha de Ingreso</label>
                <input type="date"  formControlName="fechaIngreso">
            </div>
            <div class="field">
                <label>Pais del Empleo</label>
                <select class="ui fluid dropdown" formControlName="paisEmpleo">
                  <option value="null">Seleccione...</option>
                  <option value="COLOMBIA">COLOMBIA</option>
                  <option value="ESTADOS UNIDOS">ESTADOS UNIDOS</option>
                </select>
            </div>
            <div class="field">
                <label>Area</label>
                <select class="ui fluid dropdown"  formControlName="area">
                    <option value="null">Seleccione...</option>
                    <option value="Administración">Administración</option>
                    <option value="Financiera">Financiera</option>
                    <option value="Infraestructura">Infraestructura</option>
                    <option value="Operación">Operación</option>
                    <option value="Talento Humano">Talento Humano</option>
                    <option value="Servicios Varios">Servicios Varios</option>
                    
                </select>
              </div>
        </div>
        <div class="two fields">
            <div class="field" *ngIf="!editando">
                <label>Fecha de Registro</label>
                <input type="datetime-local"  formControlName="fechaEdicion">
            </div>
            <div class="field" *ngIf="editando">
              <label>Fecha de Edicion</label>
              <input type="datetime-local"  formControlName="fechaEdicion">
          </div>
            <div class="field">
                <label>Estado</label>
                <select class="ui fluid dropdown"  formControlName="estado">
                    <option value="null">Seleccione...</option>
                    <option value="ACTIVO">ACTIVO</option>
                    <option value="INACTIVO">INACTIVO</option>
                </select>
            </div>
        </div>
        

          <div class="ui form success" *ngIf="email && reactiveForm.valid">
            <div class="ui success message">
              <div class="header">Formulario Valido</div>
              <p>Se asignará el correo corporativo: <strong>{{empleado.email}}</strong></p>
            </div>
  
          </div>
         
         <br>
        <button class="ui button" (click)="submitForm()" tabindex="0" [disabled]="reactiveForm.invalid">Registrar</button>
      </form>
</div>

